$pink: #E1A3FF;
$orange: #FDB947;

footer {
    height: 150px;
    background-color: $orange;
    padding: 20px 40%;
    text-align: center;
    font-family: sans-serif;
}

footer img {
    width: 40px;
}