@import "nav";
@import "footer";
@import "title";

$pink: #E1A3FF;
$orange: #FDB947;

*{
    margin: 0;
    padding: 0;
}

.title img {
    height: 600px;
}

.title {
    display: flex;
    padding: 10%;
    height: auto;
    text-align: center;
}

h1 {
    font-size: 64px;
    font-weight: bold;
    margin: 20px;
    font-family: sans-serif;
}

h2 {
    color: $orange;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #ccc;
    font-family: sans-serif;
}

.skills-grid {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    padding-bottom: 15%;
}
    
.container{
    border-radius: 3px;
    margin: 5px;
    position: relative;
    height: 220px;

}
    
.box {
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius :3px;
    box-shadow :0 6px 16px rgba(0,0,0,0.15);
    cursor: pointer;
    background :#fff;
    height: 100%;
}
    
    
div{
    backface-visibility: hidden;
    border-radius: 3px;
}

.front {
    position: absolute;
    padding: 15%;
}
    
.back{
    transform: rotateY(180deg);
    justify-content: center;
    align-items :center;
    position: relative;
    background-color: $pink;
    height: 100%;
    padding: 15px;
    font-family: lato;
}
    
.flipped{
    transform: rotateY(180deg);
}

@media (max-width: 900px) {

    h1 {
        font-size: 32px;
    }
    .skills-grid {
        height: auto;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        padding-bottom: 20%;
    }

    footer {
        display: block;
    }
}