$display: flex;
$font-size: 20px;
$title: 35px;

*{
    margin: 0;
    padding: 0;
}

body { 
    font-family: sans-serif;
}

nav { 
    list-style:none; 
    margin-top: 40px;
    float: right;
}

nav li { 
    display:inline; 
    padding:0 10px; 
}

nav li a {
    text-decoration: none;
    padding-left: 25px;
    text-transform: uppercase;
    color: #333;
    text-shadow: 1px 1px 1px #ccc;
}

.title img {
    height: 600px;
}

.presentation img {
    height: 400px;
}

.title {
    display: $display;
    padding: 10%;
    height: auto;
    text-align: center;

}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 200px;
}

h2 {
    text-align: center;
    margin: 0 auto 35px auto;
    font-size: $title;
    padding-top: 70px;
}

.presentation {
    padding: 10%;
    margin: auto;
    display: flex;
    background-color: rgb(156, 148, 156);
}

.presentation p {
    margin: 10%;
    font-size: $font-size;
}

.skills {
    background-color: yellowgreen;
    height: 500px;
    margin: auto;
}

.projects {
    background-color: pink;
    height: 400px;
}

.contact {
    background-color: plum;
    height: 400px;
}


.social, .skills-list{
    margin: 25px auto;
    max-width: 850px;
    display: grid;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: wheat;
    text-align: center;
}

.contact img, .skills img{
    width: 80px;
    padding: 25px 10px;
}


button {
    background-color: violet;
    color: white;
    font-size: $font-size;
    padding: 10px;
    margin: 70px auto;
    display: flex;

}



footer {
    height: 150px;
    background-color: violet;
    padding: 20px 40%;
    text-align: center;
}